<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Новая игра</title>
    </head>
    <body>
        <form th:method="POST" th:action="@{/new}" th:object="${game}" enctype="multipart/form-data">
            <label>Имя пользователя:
                <input type="text" th:field="*{username}" maxlength="32" required> <br>
            </label>
            <label>Ограничение по времени:
                <input type="checkbox" th:field="*{isTimeLimit}">
            </label>
            <label> <span th:text="'Ограничение по шагам (' + ${stepLimit} + ' ходов): '"></span>
                <input type="checkbox" th:field="*{isStepLimit}"><br>
            </label>
            <input type="submit" value="Играть!">
        </form>
        <form th:method="GET" th:action="@{/}">
            <input type="submit" value="Назад!">
        </form>
    </body>
</html>