<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>New game</title>
    </head>
    <body>
        <form th:method="POST" th:action="@{/new}" th:object="${game}" enctype="multipart/form-data">
            <label>Username:
                <input type="text" th:field="${game.username}" value="0">
            </label>
            <label>Time limit:
                <input type="checkbox" th:checked="*{isTimeLimit}">
            </label>
            <label>Step limit:
                <input type="checkbox" th:checked="*{isStepLimit}">
            </label>
            <input type="submit">
        </form>
    </body>
</html>