<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Победа</title>
        <link th:href="@{/styles/win-defeat.css}" rel="stylesheet">
    </head>
    <body>
        <h1>ПОБЕДА!</h1>
        <h2 th:text="'Загаданное число: ' + ${number}"></h2>
        <h2>Статистика:</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Время</th>
                <th>Ходы</th>
                <th>Ограничение по времени</th>
                <th>Ограничение по ходам</th>
                <th>Результат</th>
            </tr>
            <tr th:each="game : ${userGames}">
                <td th:text="${game.id}"></td>
                <td th:text="${time}"></td>
                <td th:text="${game.stepsCount}"></td>
                <td th:text="${game.isTimeLimit} ? 'Да' : 'Нет'"></td>
                <td th:text="${game.isStepLimit} ? 'Да' : 'Нет'"></td>
                <td th:text="${game.isWin} ? 'Победа' : 'Поражение'"></td>
            </tr>
        </table>
        <form th:method="GET" th:action="@{/}" enctype="multipart/form-data">
            <input class="button" type="submit" value="Ура!">
        </form>
    </body>
</html>